*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    color:$color-secondary-dark;
    
}


#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.router{
    width: 100%;
    height: 100%;
    background-color:#f3f3f3;
    display: flex;
    flex-direction: row;
}

.sidebar{
    flex:0 0 13%;
    align-self: stretch;
    background-color: #36444D;
    
}

 a:link,
 a:active,
 a:visited {
  color:white;
}
.selected{
    color:red;
}